.feedback-form {
  max-width: 408px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  text-align: left;
}

.feedback-form input,
.feedback-form textarea {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding: 8px 16px;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
}

textarea {
  resize: none;
}

.feedback-form input:hover,
.feedback-form input:focus,
.feedback-form textarea:hover,
.feedback-form textarea:focus {
  border: 1px solid #000000;
}

.feedback-form button {
  width: 95px;
  height: 40px;
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #4e75ff;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.feedback-form button:hover,
.feedback-form button:focus {
  background-color: #6c8cff;
}
